.mainBody {
  color: black;
  padding: 100px;
  font-family: courier;
  text-align: center;
}

.h1 {
   color: white;
   text-align: center;
   font-family:  "Times New Roman", Times, serif;
   font-size: 100px;
}

.button {
	    color: white;
	    font-family:  "Times New Roman", Times, serif;
	    background-color:#2929a3;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

.button:hover, .button:active {
	                           color: white;
	                           background-color:#cc99ff;
	                           border: none;
	                           color: white;
	                           padding: 15px 32px;
	                           text-align: center;
	                           text-decoration: none;
	                           display: inline-block;
 	                           font-size: 16px;
	                           margin: 4px 2px;
	                           cursor: pointer;
}
	                         

